<!DOCTYPE html>

<html>
<head>
    <title>Evillage</title>
    <link href="~/Content/E-Villages.css" rel="stylesheet">
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Bootstrap3/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/Bootstrap3/css/hover-min.css" rel="stylesheet">
<script src="~/Content/Bootstrap3/js/jquery.js"></script>
<script src="~/Content/Bootstrap3/js/bootstrap.min.js"></script>
  <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet">
  <link href="~/Content/css/aos.css" rel="stylesheet">
  <link href="~/Content/css/style.css" rel="stylesheet">
 <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet"> 
 </head>
<body class="body1">
        <header id="header" class="fixed-top"style="background:#fff9c4;border-bottom:1px dashed green;">
<div class="container-fluid">
<div class="row"style="background:black;min-height:40px;margin-top:-16px;">
<div class="col-md-1"></div>
<div class="col-md-2 headerlink">
<a href="tel:9528265101"><img src="~/Content/phone.png" height="30px"width="30px"> +91 9528265101</a>
</div>
<div class="col-md-1"></div>
<div class="col-md-3 headerlink"><a href="mailto:satyam.shakya.7599@gmail.com"><img src="~/Content/gmail.png" height="20px"width="30px"> satyam.shakya.7599@gmail.com</a></div>
<div class="col-md-1"></div>
<div class="col-md-3 headerlink"style="text-align:center;"><a href="https://goo.gl/maps/Got4v8K8nsLyiBtYA"><img src="~/Content/location.png" height="22px"width="30px"> Bewar Mainpuri Uttar Pradesh</a></div>
<div class="col-md-2"></div>
</div>
</div>
<div class="container-fluid d-flex">
<div class="row">
    <div class="col-md-2">
<h1 class="logo">
<a href="#"><img src="~/Content/blob.png" style="min-height:50px;margin-left:40px;"></a></h1>
        </div>
    <div class="col-md-4"></div>
    <div class="col-md-6">
<nav class="nav-menu d-none d-lg-block">
<ul>
<li class="active"><a href="/Home/index">Home</a></li>
<li><a href="/Home/about">About</a></li>
<li><a href="/Home/contactUs">Contact Us</a></li>
<li ><a href="/Home/schemes">Schemes</a></li>
    <li class="drop-down"><a href="#">Links</a>
        <ul>
            <li><a href="http://www.upbhulekh.gov.in/">Bhulekh</a></li>
             <li><a href="https://nrega.nic.in/MGNREGA_new/Nrega_home.aspx">Manrega</a></li>
             <li><a href="https://scholarships.gov.in/">Scholarship</a></li>
        </ul>
    </li>
<li><a href="/home/signup">Sign Up</a></li>

<li><a href="/home/complain">Complain</a></li>
<li class="drop-down"><a href="#">Settings</a>
<ul>
<li><a href="/home/login">Log In</a></li>
<li><a href="/home/forgetpass">Forgot Password</a></li>

</ul>
</li>
<li><a href="/home/feedback">Feedback</a></li>
</ul>
</nav>
</div>
</div>
</div>
</header>
        @RenderBody()
    <div class="container-fluid"data-aos="fade-up"style="background:#181f45;">
<div class="row"style="min-height:300px;">
<div class="col-md-3 section10div1">
<img src="~/Content/social.jpg" height="110px" width="100%"><br><br>
<p class="section10div2">&emsp;<a href="https://www.facebook.com/satyam.shakya.7599/"class="sectiondiv6"><img src="~/Content/fb.png"> &emsp;FACEBOOK</a></p>
<p class="section10div2">&emsp;<a href="https://wa.me/9528265101"class="sectiondiv6"><img src="~/Content/whatsapp.png"> &emsp;WHATSAPP</a></p>
<p class="section10div2">&emsp;<a href="https://www.youtube.com/channel/UCDwhOsCdQyXbIlGnZZHjOOA"class="sectiondiv6"><img src="~/Content/ytube.png"> &emsp;YOUTUBE</a></p>
<p class="section10div2">&emsp;<a href="https://www.instagram.com/satyam.shakya.7599/"class="sectiondiv6"><img src="~/Content/instagram.png"> &emsp;INSTAGRAM</a></p>
</div>
<div class="col-md-3">
<div>
<p class="section10div3"><b>SERVICES</b></p>
<p class="section10div5">
<p><a href="#"class="sectiondiv6">Travel Booking</a></p>
<p><a href="#"class="sectiondiv6">Online Payment Services</a></p>
<p><a href="#"class="sectiondiv6">Online Medical Facilities</a></p>
<p><a href="#"class="sectiondiv6">Post Services</a></p>
<p><a href="#"class="sectiondiv6">Aadhar Based Payment Service</a></p>
<p><a href="#"class="sectiondiv6">All Bill Payment Service</a></p>
</p>
</div>
</div>
<div class="col-md-3">
<p class="section10div3"><b>OTHER LINK</b></p>
<p class="section10div5">
<p><a href="/home/index"class="sectiondiv6">HOME</a></p>
<p><a href="/home/about"class="sectiondiv6">ABOUT</a></p>
<p><a href="/home/contact"class="sectiondiv6">CONTACT US</a></p>
<p><a href="/home/signup"class="sectiondiv6">SIGN UP</a></p>
<p><a href="/home/login"class="sectiondiv6">LOG IN</a></p>
<p><a href="/home/feedback"class="sectiondiv6">FEEDBACK</a></p>
<p><a href="#"class="sectiondiv6">Privacy Policy</a></p>
<p><a href="#"class="sectiondiv6">Term & Conditions</a></p>
</p>
</div>
<div class="col-md-3">
<p class="section10div3"><b>CONTACT INFO</b></p>
<div style="height:70px"><a href="https://goo.gl/maps/Got4v8K8nsLyiBtYA" class="sectiondiv6"><img src="~/Content/location.png" height="50px" width="50px"/>&emsp; Bewar Mainpuri Uttar Pradesh</a></div>
<div style="height:70px"><a href="mailto:satyam.shakya.7599@gmail.com" class="sectiondiv6"><img src="~/Content/gmail.png" height="40px" width="50px"/>&emsp; satyam.shakya.7599@gmail.com</a></div>
<div style="height:70px"><a href="tel:9528265101" class="sectiondiv6"><img src="~/Content/phone.png" height="50px" width="50px"/>&emsp; +91 9528265101</a></div>
</div>
</div>
</div>
<footer>
<div class="container-fluid">
<div class="row" style="min-height:50px;background:black;">
<div class="col-md-6">
<div class="footerdiv1">© Copyright 2023 evillage All Rights Reserved.</div>
</div>
<div class="col-md-6">
<div class="footerdiv1">Design & Devlope by Satyam Shakya</div>
</div>
</div>
</div>
</footer>
</body>
</html>
<script src="~/Content/js/jquery.min.js"></script>
  <script src="~/Content/js/jquery.waypoints.min.js"></script>
  <script src="~/Content/js/counterup.min.js"></script>
  <script src="~/Content/js/owl.carousel.min.js"></script>
  <script src="~/Content/js/aos.js"></script>
  <script src="~/Content/js/main.js"></script>
