@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin master.cshtml";
}


            <div class="container-fluid">
                <div class="row">

                    <div class="outer-w3-agile col-xl ml-xl-3 mt-xl-0 mt-3">
                        <div class="stat-grid p-3 d-flex align-items-center justify-content-between " style="background-color: #FF5733;">
                            <div class="s-l">
                                 <a href="/admin/index">
                                 <h5>Dashboard</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>
                                    <i class="fas fa-th-large"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" style="background-color: #11505e;">
                            <div class="s-l">
                                 <a href="/Admin/AboutMGMT">
                                 <h5>SUGGESTION MGMT</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>250
                                    <i class="fas fa-lightbulb"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between " style="background-color: #921c53;">
                            <div class="s-l">
                                 <a href="/Admin/ContactMGMT">
                                 <h5>CONTACTUS MGMT</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>232
                                    <i class="fas fa-address-book"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" style="background-color: #6B3A6C;">
                            <div class="s-l">
                                 <a href="/Admin/SignupMGMT">
                                 <h5>SIGNUP MGMT</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>190
                                    <i class="fas fa-sign-in-alt"></i>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="outer-w3-agile col-xl ml-xl-3 mt-xl-0 mt-3">
                        <div class="stat-grid p-3 d-flex align-items-center justify-content-between " style="background-color: #FF5733;">
                            <div class="s-l">
                                 <a href="/admin/indexMGMT">
                                 <h5>INDEX INQUIRY MGMT</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>340
                                    <i class="fas fa-question"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" style="background-color: #11505e;">
                            <div class="s-l">
                                 <a href="/Admin/ComplainMGMT">
                                 <h5>COMPLAINT MGMT</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>250
                                    <i class="fas fa-comments"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between " style="background-color: #921c53;">
                            <div class="s-l">
                                 <a href="/Admin/FeedbackMGMT">
                                 <h5>FEEDBACK MGMT</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>232
                                    <i class="fas fa-comments"></i>
                                </h6>
                            </div>
                        </div>
                        <div class="stat-grid p-3 mt-3 d-flex align-items-center justify-content-between" style="background-color: #6B3A6C;">
                            <div class="s-l">
                                 <a href="/Admin/Logout">
                                 <h5>Logout</h5>

                                 </a>

                            </div>
                            <div class="s-r">
                                <h6>
                                    <i class="fas fa-sign-out-alt"></i>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!--// Stats -->




                    <!-- Pie-chart -->

                </div>

            </div>
            <!--// Copyright -->
        </div>
    </div>
