@{
    ViewBag.Title = "UpdateAbo";
    Layout = "~/Views/Shared/admin master.cshtml";
}


@model mvcdemo2.Models.suggetion
<form action="#" method="post">
<br><br>
    Name: 
<input type="text"placeholder="Enter Name"name="name"value="@Model.name" required class="form-control fsectiondiv2"><br><br>
Mobile: 
<input type="number"placeholder="Mobile No"name="mob"value="@Model.mob" required class="form-control fsectiondiv2"><br><br>
Email: 
<input type="hidden"placeholder="Email (Optional)"name="email"value="@Model.email" class="form-control fsectiondiv2"><br><br>
Suggetion: 
<textarea placeholder="Enter Your suggestion Here"name="msg" required class="form-control fsectiondiv2"style="height:100px;">@Model.msg</textarea><br><br>
<input type="submit" value="Send Your suggestion"class="form-control btn btn-danger" class="fbtn"><br><br>
</form>


