@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid"style="margin-top:105px;"data-aos="fade-down">
<div class="row ab-section1div" >
<div class="c-section1div1">
<div class="csectiondiv3">About E-Village</div>
</div>
</div>
</div>
<section data-aos="fade-down">
<div class="container-fluid">
<div class="row"style="min-height:50px;">
<div class="col-md-4"></div>
<div class="col-md-4 aboutdiv1">About E-Village</div>
<div class="col-md-4"></div>
</div>
<div class="row" style="min-height:50px;"></div>
<div class="row">
<div class="col-md-6"style="background:#fff0bd;border-radius:20px;">
<div class="section1div2">The state government had launched 26 e-governance services under 
departments of food & civil supplies, panchayati raj, urban development, revenue, 
women welfare and child development, training & employment, handicap welfare and 
social welfare. This was to implement the national e-governance plan launched in 
2008, which comprises 27 mission mode projects.
E-village portal helps that one can take any information about that 
particular village for which project is concerned. E-village portal can store all the 
information dynamically about that village like population of that village, voter list,
APL list, BPL list, Antyodaya list, primary school, primary health center etc.
One can contact directly to the Pradhan, Village development officer
(VDO), Lekhpal, Aanganwari, Asha bahu, ANM, Prerak, Panchayat mitra etc through 
the list having the name and contact number of the above persons in the portal.
One can also know about the govt. plannings as well as NGOs working for
that village in various areas like education, health, women empowerment etc.
Any villager can get information about his KHASRA number and all other status 
through the E-village portal.</div>
</div>
<div class="col-md-6">
<img src="~/Content/wallpaperflare.com_wallpaper (6).jpg"height="500px"width="600px"style="border-radius:20px;">
</div>
</div>
</div>
    </section>
    <br /><br>
<div class="container-fluid">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="section9div4">SUGGESTION FORM</div><br /><br />
</div>
<div class="col-md-3"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 losectiondiv">
<center>
<form action="~/Home/About" method="post">
<br><br>
<input type="text"placeholder="Enter Name"name="name" required class="form-control fsectiondiv2"><br><br>
<input type="number"placeholder="Mobile No"name="mob" required class="form-control fsectiondiv2"><br><br>
<input type="email"placeholder="Email (Optional)"name="email" class="form-control fsectiondiv2"><br><br>
<textarea placeholder="Enter Your suggestion Here"name="msg" required class="form-control fsectiondiv2"style="height:100px;"></textarea><br><br>
<input type="submit" value="Send Your suggestion"class="form-control btn btn-danger" class="fbtn"><br><br>
</form>
</center>
</div>
<div class="col-md-2"></div>
</div>
</div>
<br><br>
<section id="counts" class="counts">	
<div class="container">
<div class="row counters" data-aos="zoom-in">
<div class="col-md-3 text-center">
<span data-toggle="counter-up">16</span>
<p>Country +</p>
</div>

<div class="col-md-3 text-center">
<span data-toggle="counter-up">282</span>
<p>Villages +</p>
</div>

<div class="col-md-3 text-center">
<span data-toggle="counter-up">15050</span>
<p>Schools +</p>
</div>

<div class="col-md-3 text-center">
<span data-toggle="counter-up">4820</span>
<p>Jobs +</p>
</div>
</div>
</div>
</section>