@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section style="margin-top:45px">
<div class="container-fluid"data-aos="fade-down">
<div class="row c-section1div" >
<div class="c-section1div1">
<div class="csectiondiv3">Contact With Us</div>
</div>
</div>
</div>
</section>
<section>
<div class="container-fluid">
<div class="row"style="min-height:600px;">
<div class="col-md-8"style="min-height:600px;">
<iframe style="height:600px;width:100%;"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3548.1884445846526!2d79.30352207381267!3d27.213232747114347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39758bec65d07cf1%3A0xa743099e76ef34a1!2sGSM%20College!5e0!3m2!1sen!2sin!4v1693331942658!5m2!1sen!2sin"></iframe>
</div>
<div class="col-md-4"data-aos="flip-left">
<div class="csectiondiv4">
<div class="csectiondiv5">24*7 Available</div>
</div>
</div>
</div>
</div>
</section>
<section data-aos="fade-down">
<div class="container-fluid">
<div class="row">
<div class="col-md-6 cform ">
<form action="~/Home/ContactUs" method="post">
<br>
<input type="text" required placeholder="Your name"name="name"class="form-control"><br>
<input type="number" required placeholder="contact no"name="mob"class="form-control"><br>
<input type="email"required placeholder="Email"name="email"class="form-control"><br>
<input type="text"required placeholder="Address"name="address"class="form-control"><br>
<textarea style="height:70px;" required name="query"class="form-control" placeholder="Enter Query Here"></textarea><br />

<input type="submit"value="SUBMIT"class="cbutton form-control btn btn-success" ><br /><br />
</form>
</div>
<div class="col-md-6 csectioncon">
<p style="font-size:35px;text-align:center;">Contact Details</p><hr>
<div style="height:70px"><a href="https://goo.gl/maps/Got4v8K8nsLyiBtYA" class="sectiondiv6"style="color:black;"><img src="~/content/location.png" height="50px" width="50px"/>&emsp; Bewar Mainpuri Uttar Pradesh</a></div>
<div style="height:70px"><a href="mailto:satyam.shakya.7599@gmail.com" class="sectiondiv6"style="color:black;"><img src="~/content/gmail.png" height="40px" width="50px"/>&emsp; satyam.shakya.7599@gmail.com</a></div>
<div style="height:70px"><a href="tel:9528265101" class="sectiondiv6"style="color:black;"><img src="~/content/mobile.png" height="50px" width="50px"/>&emsp; +91 9528265101</a></div>
</div>
</div>
</div>
</section>
