@{
    ViewBag.Title = "forgetpass";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container-fluid" style="margin-top:170px;">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<center>
<div class="fsectiondiv1"><img src="~/content/for.png"height="150px;"></div>
</center>
</div>
<div class="col-md-3"></div>

</div>
</div>
<br /><br />
<div class="container-fluid">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6 losectiondiv">
<center>
<form><br><br>
<input type="email" placeholder="Email"required class="fsectiondiv2 form-control"><br>
<input type="button"value="Reset Password" class="fbtn form-control btn btn-danger"><br><br>
</form>
</center>
</div>
<div class="col-md-3"></div>
</div>
<div class="row"style="min-height:40px;"></div>
</div>