@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!--slider Section-->

<div class="container-fluid"style="margin-top:0px;">
<div class="row"data-aos="fade-down"style="min-height:500px;min-width:100%;margin-top:104px;">
<div class="col-md-12">
<div class="carousel slide" data-ride="carousel">
<div class="carousel-inner" role="listbox"style="width:100%">
<div class="item active"style="width:100%">
<img src="~/Content/wallpaperflare.com_wallpaper (4).jpg" style="height:500px;width:100%;">
</div>
<div class="item">
<img src="~/Content/b.jpg"style="height:500px;width:100%">
</div>
<div class="item">
<img src="~/Content/sc.jpg"style="height:500px;width:100%;">
</div>
<div class="item">
<img src="~/Content/d.jpg"style="height:500px;width:100%;">
</div>
<div class="item">
<img src="~/Content/e.jpg"style="height:500px;width:100%;">
</div>
</div>
</div>
</div>
</div>
</div>
<!--section1-->
<section data-aos="flip-right">
<div class="container-fluid">
<div class="row"style="margin-top:0px;min-height:40px;">
<div class="col-md-4"></div>
<div class="col-md-4 section1div1">About E-Village</div>
<div class="col-md-4"></div>
</div>
<div class="row"style="min-height:40px;"></div>
<div class="row">
<div class="col-md-6">
<div class="section1div2">
In the modern landscape, where technology is the cornerstone of progress, the concept of an "E Village" emerges as a testament to the fusion of tradition and innovation. An E Village encapsulates the essence of rural life while embracing the digital age. It represents a harmonious blend of the past and the present, where the richness of local culture and traditions are preserved, while advancements in technology uplift the quality of life for its inhabitants.

In an E Village, traditional agrarian practices find synergy with smart farming techniques, optimizing agricultural output while preserving the environment. The internet and digital connectivity become the threads that weave this village into the global fabric, enabling access to online education, healthcare services, and markets for local products. This integration ensures that the village becomes not just a physical entity but a virtual bridge to the world.

Community engagement takes on new dimensions in an E Village, as social platforms and digital tools facilitate collaboration among residents. Information flows seamlessly, allowing the villagers to participate in decision-making, share ideas, and address common challenges effectively.

As much as an E Village signifies technological transformation, it also serves as a reminder of the significance of human connections. It fosters a sense of unity and shared purpose, demonstrating that even in a digital age, the heart of a village beats strong with its collective spirit. The E Village thus stands as a beacon, guiding rural communities towards sustainable progress while cherishing their roots.
</div>
</div>
<div class="col-md-6">
<img src="~/Content/pro.jpg"height="680px"width="100%"style="border-radius:20px;">
</div>
</div>

</div>
</section>
<!--section 2-->
<section id="testimonials" class="testimonials" data-aos="fade-down" style="background:linear-gradient(#AED581,#558B2F);">
<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<div class="section2div1">IMAGE GALLARY</div>
</div>
<div class="col-md-4"></div>
</div>
<div class="owl-carousel testimonials-carousel">
 <div class="testimonial-wrap">
 <div class="testimonial-item">
 <img class="hvr-pulse" src="~/Content/wallpaperflare.com_wallpaper (4).jpg"height="200px" width="100%">
 </div>
 </div>
 
  <div class="testimonial-wrap" >
 <div class="testimonial-item">
 <img class="hvr-pulse"src="~/Content/wallpaperflare.com_wallpaper (3).jpg"height="200px" width="100%">
 </div>
 </div>  

 <div class="testimonial-wrap">
 <div class="testimonial-item">
 <img class="hvr-pulse"src="~/Content/wallpaperflare.com_wallpaper (2).jpg"height="200px" width="100%">
 </div>
 </div> 
 
  <div class="testimonial-wrap">
 <div class="testimonial-item">
 <img class="hvr-pulse"src="~/Content/wallpaperflare.com_wallpaper (1).jpg"height="200px" width="100%">
 </div>
 </div>
 
   <div class="testimonial-wrap">
 <div class="testimonial-item">
 <img class="hvr-pulse"src="~/Content/wallpaperflare.com_wallpaper.jpg"height="200px" width="100%">
 </div>
 </div>

</div>
</div>
</section>
<br><br>
<!--section3-->
<div class="container-fluid" data-aos="fade-down">
<div class="row"style="min-height:50px;">
<div class="col-md-3"></div>
<div class="col-md-6 section3div1">
<div>Our Product & Services</div>
</div>
<div class="col-md-3"></div>
</div>
</div>
<!--section4-->
<section data-aos="flip-left">
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">Travel Booking</h2>
<p class="section4p">E Village provides efficient travel booking services, simplifying residents' journeys. With access to diverse travel options, from flights and accommodations to tours, residents can explore the world seamlessly, backed by the village's commitment to convenience and excellent service.</p>
</div>
<div class="col-md-6">
<img class="hvr-pop"src="~/Content/travel.jpg" height="300px" width="100%">
</div>
</div>
</div>

<!--section5-->
<br /><br /><br />
<div class="container-fluid"data-aos="flip-right">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">Online Payment Services</h2>
<p class="section4p">E Village offers modern online payment services, streamlining transactions for residents. Convenient and secure, these platforms enable hassle-free bill payments, purchases, and financial transactions, enhancing the overall ease of living and contributing to the village's tech-savvy environment.</p>
</div>
<div class="col-md-6"style="background:#ffecb3;">
<img class="hvr-pop"src="~/Content/06-1.png" height="300px" width="100%">
</div>
</div>
</div>
</section>

<!--section6-->

<div class="container-fluid"data-aos="flip-left">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">Medical Facilities</h2>
<p class="section4p">E Village ensures residents' well-being with its online medical facility services. Through virtual consultations and health platforms, residents can conveniently access medical advice, prescriptions, and appointments, reflecting the village's commitment to modern healthcare solutions and accessibility</p>
</div>
<div class="col-md-6">
<img class="hvr-pop"src="~/Content/medi.jpg" height="300px" width="100%">
</div>
</div>
</div>


<section data-aos="flip-right">
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">School</h2>
<p class="section4p">The village school offers essential facilities for holistic education, including well-equipped classrooms, a library brimming with knowledge, science and computer labs for practical learning, and a playground for physical development. These amenities empower rural students with a quality education and a pathway to a brighter future.</p>
</div>
<div class="col-md-6">
<img class="hvr-pop"src="~/Content/sc.jpg" height="300px" width="100%">
</div>
</div>
</div>
</section>

<!--section7-->

<div class="container-fluid"data-aos="flip-left">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">Post Services</h2>
<p class="section4p">E Village's post services provide a dependable solution for mail and package needs. With organized mailboxes and efficient package delivery, residents experience hassle-free sending and receiving. This integral service reflects E Village's dedication to enhancing daily life through thoughtful conveniences and reliable community support.</p>
</div>
<div class="col-md-6">
<img class="hvr-pop"src="~/Content/R.jpg" height="300px" width="100%">
</div>
</div>
</div>

<!--section8-->
<section data-aos="flip-right">
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">Aadhar based Payment service </h2>
<p class="section4p">E Village introduces Aadhar-based payment services, revolutionizing financial transactions. Residents can now make secure payments using their unique Aadhar identification, enhancing convenience and safety. This cutting-edge approach aligns with E Village's commitment to integrating modern technology for the betterment of residents' lives.</p>
</div>
<div class="col-md-6">
<img class="hvr-pop"src="~/Content/R1.png" height="300px" width="100%">
</div>
</div>
</div>
</section>
<div class="container-fluid"data-aos="flip-left">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:linear-gradient(#e1f5fe,#cddc39)">
<br>
<h2 class="section4h2">All Bill Payment Services</h2>
<p class="section4p">E Village offers an all-inclusive bill payment service, streamlining residents' financial tasks. Through a user-friendly digital platform, residents can conveniently settle utility bills, taxes, and more in one centralized location. This service underscores E Village's commitment to simplifying daily tasks and fostering a modern, efficient community.</p>
</div>
<div class="col-md-6"style="background:#ffecb3;">
<img class="hvr-pop"src="~/Content/bill.png" height="300px" width="100%">
</div>
</div>
</div>
<br /><br /><br />
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
<p class="section9div4">INQUIRY FORM</p>
</div>
<div class="col-md-6"></div>
</div>
<div class="row ">
<div class="col-md-6 sisectionform">
<center>
<form action="~/Home/index" method="post">
    <br /><br />
<input type="text"placeholder="Enter Name"name="name" required class="form-control fsectiondiv2"><br>
<input type="number"placeholder="Mobile No"name="mob" required class="form-control fsectiondiv2"><br>
<input type="email"placeholder="Email (Optional)"name="email" class="form-control fsectiondiv2"><br>
<textarea placeholder="Enter Your Query Here"name="query" required class="form-control fsectiondiv2"style="height:100px;"></textarea><br>
<input type="submit"value="Send Query"class="form-control btn btn-primary" class="fbtn">
</form>
</center>
</div>
<div class="col-md-6">
<iframe style="height:450px;width:100%;border-radius:20px;"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3548.1884445846526!2d79.30352207381267!3d27.213232747114347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39758bec65d07cf1%3A0xa743099e76ef34a1!2sGSM%20College!5e0!3m2!1sen!2sin!4v1693331942658!5m2!1sen!2sin"></iframe>
</div>
</div>
<div class="row"style="min-height:30px;"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div><p class="section9div4">SCHEMES</p></div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4 hvr-float">
            <img src="~/Content/sch.png" height="200px"width="100%"/>
        </div>
        <div class="col-md-4 hvr-float">
            <img src="~/Content/sch2.jpg" height="200px"width="100%"/>
        </div>
        <div class="col-md-4 hvr-float">
            <img src="~/Content/sch3.jpg" height="200px"width="100%"/>
        </div>
    </div>
</div>
<section id="counts" class="counts">	
<div class="container">
<div class="row counters" data-aos="zoom-in">
<div class="col-md-3 text-center">
<span data-toggle="counter-up">16</span>
<p>Country +</p>
</div>

<div class="col-md-3 text-center">
<span data-toggle="counter-up">282</span>
<p>Villages +</p>
</div>

<div class="col-md-3 text-center">
<span data-toggle="counter-up">15050</span>
<p>Schools +</p>
</div>

<div class="col-md-3 text-center">
<span data-toggle="counter-up">4820</span>
<p>Jobs +</p>
</div>
</div>
</div>
</section>
<!--section 9 -->
<div class="container-fluid"data-aos="fade-down">
<div class="row"style="min-height:50px;">
<div class="col-md-4"></div>
<div class="col-md-4">
<div class="section9div1">Features</div>
</div>
<div class="col-md-4"></div>
</div>
</div>
<section>
<div class="container-fluid"data-aos="flip-down">
<div class="row" style="min-height:200px;">
<div class="col-md-3 section9div2">
<div class="section9div3 img img-fluid hvr-float">
<img src="~/Content/s1.png" height="50px;"><br>
<p><b style="font-size:20px;">User Experience</b></p>
<p>"Simplify interfaces, prioritize clarity, and anticipate needs to provide an effortless and enjoyable user experience."</p>
</div>
</div>
<div class="col-md-3 section9div2">
<div class="section9div3 img img-fluid hvr-float">
<img src="~/Content/s2.png" height="50px;"><br>
<p><b style="font-size:20px;">24*7 Support</b></p>
<p>"Available around the clock, providing continuous support and service 24 hours a day, 7 days a week."</p>
</div>
</div>
<div class="col-md-3 section9div2">
<div class="section9div3 img img-fluid hvr-float">
<img src="~/Content/s3.png" height="50px;"><br>
<p><b style="font-size:20px;">Trusted</b></p>
<p>"Reliable and dependable, earning confidence and credibility through consistent performance and positive experiences."</p>
</div>
</div>
<div class="col-md-3 section9div2">
<div class="section9div3 img img-fluid hvr-float">
<img src="~/Content/s4.png" height="50px;"><br>
<p><b style="font-size:20px;">Customer Support</b></p>
<p>"If you need try to connect us, I will be so pleased if you join us or with us ."</p>
</div>
</div>
</div>
</div>
</section>
