@{
    ViewBag.Title = "schemes";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section style="margin-top:45px;">
    <div class="container-fluid">
        <div class="row simg">
                <div class="col-md-12 ssectiondiv1">
                    <div class="ssectiondiv3">ALL Schemes By Government</div>
                </div>
        </div>
    </div>
</section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 ssectiondiv2">
                <div>KANYA VIDYA DHAN YOJNA</div>
            </div>
            <div class="col-md-4"></div>
        </div>

<div class="row"style="min-height:40px;"></div>
            </div>
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:#F0F4C3;">
<br>
<h2 class="section4h2">KANYA VIDYA DHAN</h2>
<p class="section4p">KANYA VIDYA DHAN YOJNA is a scheme launched by the Uttar Pradesh government to provide financial assistance to meritorious girl students who have passed the 12th board examination. The scheme aims to encourage and support the higher education of girls who belong to economically weaker sections of the society. The scheme covers girl students who have passed the 12th board examination from any recognized board in Uttar Pradesh, such as UP Board, CBSE, ICSE, UP Madarsa Board, and UP Sanskrit Board. The scheme provides a one-time scholarship of Rs 30,000 to each eligible girl student. The scholarship amount is directly transferred to the bank account of the beneficiary. The scheme was started by former Chief Minister Akhilesh Yadav in 2012-13 and was revived by the current Chief Minister Yogi Adityanath in 2020-21. The scheme has benefited lakhs of girl students in Uttar Pradesh and has helped them pursue their dreams of higher education.</p>
    <br />
UP Kanya Vidya Dhan Yojana 2023 - सरकारी योजना. &emsp;<a href="https://sarkariyojana.com/up-kanya-vidya-dhan-yojana">OFICIAL WEBSITE</a>
</div>
<div class="col-md-6">
<img src="~/Content/sch.png" height="100%" width="100%">
</div>
</div>
</div>
<section>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 ssectiondiv2">
                <div>KANYA SUMANGALA YOJNA</div>
            </div>
            <div class="col-md-4"></div>
        </div>

<div class="row"style="min-height:40px;"></div>
            </div>
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:#F0F4C3;">
<br>
<h2 class="section4h2">KANYA SUMANGLA YOJNA</h2>
<p class="section4p">Kanya Sumangala Yojana is a scheme launched by the Uttar Pradesh government to provide financial assistance and social security to the girl child. The scheme aims to end female feticide, establish an equal gender ratio, stop the malpractice of child marriage, and improve the health and education of girls. The scheme covers six stages of a girl's life, from birth to graduation, and provides a lump sum amount at each stage. The scheme is applicable for two girls from a single family whose annual income is less than Rs. 3 lakh.</p>

<p class="section4p">Some of the features and benefits of the scheme are:<br />

- The scheme provides a total of Rs. 15,000 for each girl child in six installments.<br />
- The scheme encourages the parents to enroll their daughters in school and complete their education.<br />
- The scheme helps in reducing the dropout rate and increasing the literacy rate of girls.<br />
- The scheme promotes the empowerment and self-reliance of girls.<br />
- The scheme creates a positive attitude towards the birth of a girl child in the society.<br />

To apply for the scheme, the applicants need to register themselves on the official website of the Department of Women and Child Development. They need to provide valid Aadhaar numbers, birth registration numbers, and Parivaar IDs for themselves and their daughters. They also need to submit the required documents and certificates as per the stage of the scheme.<br />

For more information about the scheme, you can visit the following websites:<br /><br /></p>
<p>(1) DEPARTMENT OF WOMEN & CHILD DEVELOPMENT. &emsp; <a href="https://mksy.up.gov.in/.">Visit Website</a></p>
<p>(2) Kanya Sumangala Yojana - myScheme. &emsp; <a href="https://www.myscheme.gov.in/schemes/ksy">Visit Website</a></p><br />

</div>
<div class="col-md-6">
<img src="~/Content/sch2.jpg" height="100%" width="100%">
</div>
</div>
</div>
</section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 ssectiondiv2">
                <div>Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA) 2005:</div>
            </div>
            <div class="col-md-1"></div>
        </div>

<div class="row"style="min-height:40px;"></div>
            </div>
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:#F0F4C3;">
<br>
<h2 class="section4h2"><b>MGNREGA</b></h2>
<p class="section4p">
 The scheme was introduced as a social measure that guarantees “the right to work”.<br />
The Ministry of Rural Development monitors the entire implementation of this scheme in association with state governments.<br />
It is the Gram Sabha and the Gram Panchayat which approves the shelf of works under MGNREGA and fixes their priority.<br />
Social Audit of MGNREGA works is mandatory, which leads to accountability and transparency.<br />
For the financial year 2021-22, 2.95 crore persons have been offered work, thus, completing 5.98 lakh assets and generating 34.56 crore person-days.<br />
</p>
    <p>MAGBREGA WEBSITE &emsp;<a href="https://nrega.nic.in/MGNREGA_new/Nrega_home.aspx">Visite Website</a></p>
</div>
<div class="col-md-6">
<img src="~/Content/sch3.jpg" height="100%" width="100%">
</div>
</div>
</div>
<br />
<div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ssectiondiv2">
                <div>Pradhan Mantri Gram Sadak Yojana (PMGSY):</div>
            </div>
            <div class="col-md-2"></div>
        </div>

<div class="row"style="min-height:40px;"></div>
            </div>
<div class="container-fluid">
<div class="row"style="min-height:300px;">
<div class="col-md-6"style="background:#F0F4C3;">
<br>
<h2 class="section4h2"><b>PMGSY</b></h2>
<p class="section4p">
To provide connectivity, by way of an all-weather road to unconnected habitations.<br />
Unconnected habitations of designated population size (500+ in plain areas and 250+ in North-Eastern States, Himalayan States, Deserts and Tribal Areas as per 2001 census) in the core network for uplifting the socio-economic condition of the rural population.<br />
Highest length of road has been completed under PMGSY in the comparable period over the last 3 years.<br />
    </p>
</div>
<div class="col-md-6">
<img src="~/Content/PMGSY.jpg" height="100%" width="100%" />
</div>
</div>
</div>
<br /><br />
